---
layout: default
title: Sermons
class:	page
sitemap:
    priority: 0.7
    changefreq: 'weekly'
    lastmod: 2017-10-17T19:23:34+00:00
pagination: true
enabled: true
---

<div class="content no-columns sermons">
	<p>Enjoy a selection of sermons by Pastor Dan and others below. A full archive can be found at <a href="https://www.youtube.com/user/61dwight/videos">Dwight Sattler's YouTube channel</a>, and many thanks to him for creating these videos.</p>

	{% include youtubePlayer.html id=page.RfsKBqH6gZM %}
	{% include youtubePlayer.html id=page.HdnSdeYJaQc %}
	{% include youtubePlayer.html id=page.waPgZ1YceT4 %}
	{% include youtubePlayer.html id=page.f_iI01tcNLQ %}
	{% include youtubePlayer.html id=page.A1BPcd0h8xA %}

</div>
