---
layout: default
title: Sermons
class:	page
sitemap:
    priority: 0.7
    changefreq: 'weekly'
    lastmod: 2017-10-17T19:23:34+00:00
pagination: true
enabled: true
---

<div class="content no-columns sermons">
	<p>Enjoy a selection of sermons by Pastor Dan and others below. A full archive can be found at <a href="https://www.youtube.com/user/61dwight/videos">Dwight Sattler's YouTube channel</a>, and many thanks to him for creating these videos.</p>

	{% include youtubePlayer.html id="RfsKBqH6gZM" %}
	{% include youtubePlayer.html id="HdnSdeYJaQc" %}
	{% include youtubePlayer.html id="waPgZ1YceT4" %}
	{% include youtubePlayer.html id="f_iI01tcNLQ" %}
	{% include youtubePlayer.html id="A1BPcd0h8xA" %}

	<div id="youmax"></div>

	<script type="text/javascript">
$('#youmax').youmax({
            apiKey:'AIzaSyCvcRe4dX3rWAQGhz9TFSoqWNcurrspe0A',
            youTubeChannelURL:"http://www.youtube.com/user/Apple",
            youTubePlaylistURL:"http://www.youtube.com/playlist?list=PLHFlHpPjgk713fMv5O4s4Fv7k6yTkXwkV",
            youmaxDefaultTab:"UPLOADS", //can be UPLOADS or PLAYLISTS or FEATURED
            youmaxColumns:3,
            showVideoInLightbox:false,
            maxResults:15,
        });
</script>

</div>
