<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="../">St. Paul's UCC Malone WI</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right customdrop">
                <li class="dropdown">
                    <a href="#" onclick="return false" class="dropdown-toggle nav-link disabled" role="button" aria-haspopup="true" aria-expanded="false">About Us<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="page-scroll" href="{{ site.url }}#intro">Introducing St. Paul's</a></li>

                        <li><a class="submenu-master" data-toggle="collapse" href="#submenu1" role="button" aria-haspopup="true" aria-expanded="false">Setting<span class="caret"></span></a>
                        <div id="submenu1" class="submenu dropdown-menu collapse">
                            <ul class="list-group">
                                <li class="list-group-item"><a href="/building/">Building</a></li>
                                <li class="list-group-item"><a href="/cemetery/">St. Paul's Cemetery</a></li>
                                <li class="list-group-item"><a href="/trail/">Stone Soup Trail</a></li>
                            </ul>
                        </div>
                        </li>
                        <li><a href="/history/">History</a></li>
                        <li><a href="/pastor/">Pastor Dan</a></li>
                    </ul>
                </li>   
                <li class="dropdown">
                    <a href="#" onclick="return false" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu customdrop">
                        <li><a href="/loving/">Loving One Another</a></li>
                        <li><a href="/hospitality/">Hospitality</a></li>
                        <li><a href="/christianed/">Christian Education</a></li>
                        <li><a href="/womensfellowship/">Women's Fellowship</a></li>
                    </ul>
                </li> 
                <li class="dropdown">
                    <a href="#" onclick="return false" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Ministry<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/hfp/">Holyland Food Pantry</a></li>
                        <li><a href="/ministry/">Mission</a></li>
                    </ul>
                </li> 
                <li class="dropdown">
                    <a href="#" onclick="return false" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">News<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="page-scroll" href="/#news">Good News!</a></li>
                        <li><a href="/news/">Midweek Apostle</a></li>
                        <li><a href="/calendar/">Calendar</a></li>
                        <li><a href="/follow/">Follow</a></li>
                    </ul>

                </li>            
                <li>
                    <a class="page-scroll" href="/#worship">Worship</a>
                </li> 
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <li>
                    <a href="/directions/">Find Us</a>
                </li>        
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
