<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- ##### JQuery ##### -->

    <!-- JQueryUI -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- JQuery JavaScript -->
    <script src="/js/external/jquery/jquery.js"></script>
    <script src="/js/jquery-ui.min.js"></script>

    <!-- JQuery Cookie -->
    <script src="/js/jquery.cookie.js"></script>

    <!-- ##### CSS ##### -->

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- JQueryUI CSS -->
    <link rel="stylesheet" href="/css/jquery-ui.min.css">

    <!-- Lightbox CSS -->
    <link rel="stylesheet" href="/css/lightbox.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/landing-page.css">
    <link rel="stylesheet" href="../css/responsive.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- {% if page.title contains 'Sermons' %}
    <script src="http://code.jquery.com/jquery-1.7.min.js"></script>
    <script src="/js/youmax/js/src/youmax.js"></script>
    <link rel="stylesheet" href="/js/youmax/css/src/youmax.css"/>
    {% endif %} -->

    <!-- ##### Analytics ##### -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108221971-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-108221971-1');
    </script>


</head>