<div class="hfp-needs">
	<h3 class="needs">Holyland Food Pantry needs</h3>
		<p>The holidays are a time when people are very generous with giving, and we are grateful. We welcome cash donations, in honor or people you love who are missing around your table. You could also give a sustainable gift as a Christmas Present from your family. Tax receipts can be provided for gifts over $200.00.</p>

		<p>Here are some items we always need, especially around the holidays:</p>
		
		<p class="needs"><u>Food</u>: Catsup, Mayonnaise, Cereal, Canned chef boy at dee Ravioli and Speghetios, Crackers, Shelf Stable Powdered Milk, Broth, Juice Boxes.</p>
		
		<p class="needs"><u>Personal care items</u>: Shampoo and conditioner, Kleenex, toilet paper.</p>

		<p class="needs"><u>For the babies</u>: Desitin Diaper care, Diapers sizes newborn to 5, Wipes</p>

		<p>Thank you for your continued support!!</p>
</div>