<div class="hfp-needs">
	<h3 class="needs">Holyland Food Pantry needs</h3>
		<p>Canned fruit, cereal, syrup. jelly, toilet paper, paper towels, Kleenex, mouthwash, canned meats (small ham, beef stew, chicken, corned beef hash), sugar, flour, dried potato flakes, white rice, snack bars (granola, fruit roll ups) and prayers for the well being of all our clients.</p>

	<ul>
		<li>Adopt a MeatMeal per month: This will cost about $60.00 per month, and allows us to offer 4 meat meals a month for a families with 5 or fewer people. Contact Lori at 539-9304.</li>
		<li>Volunteer to help promote the pantry, call Lori at 539-9304</li>
		<li>Volunteer to clean the pantry monthly, call Lori at 539-9304</li>
	</ul>

		<p>Thank you for your continued support!!</p>
</div>