<div class="hfp-needs">
	<h3 class="needs">Holyland Food Pantry needs</h3>
		<p>The Pantry has doubled in size since we began. This past month we fed 31 families. Thank you for being part of this!</p>
		<p>Please consider listing the following items for pantry needs in March: Catsup, Mustard, Mayonnaise, Salad Dressing (Ranch, French), Pasta Sides, Any soups or broths, Instant Potatoes. Graham Crackers Saltines, Hamburger Helper, Tuna</p>

		<p>The months of June, July and September are still available to adopt for a 'meat month' at $60.00. This allows us to offer 4 meat meals a month for a families with 5 or fewer people. Contact Lori at 92-539-9304 or email at lorijoschmitz@gmail.com</p>

	<ul>
		<li>Volunteer to help promote the pantry, call Lori at 539-9304</li>
		<li>Volunteer to clean the pantry monthly, call Lori at 539-9304</li>
	</ul>

		<p>Thank you for your continued support!!</p>
</div>