---
layout: default
class: page
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="post-content {{ page.class }}" itemprop="articleBody">
  	<div class="teaser">{{ page.teaser }}</div><br />
    {% if page.img !=null %}
        <figure>
          <a target="_blank" href="{{ site.url }}/img/news/{{ page.img }}">
            <img src="{{ site.url }}/img/news/{{ page.img }}" class="post-img" alt="{{ page.caption }}" style="max-width: 500px;">
          </a>
        </figure>
    {% endif %}       
    {{ content }}
  </div>
</article>
