---
layout: default
class: page
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="post-content {{ page.class }}" itemprop="articleBody">
  	<span class="teaser">{{ page.teaser }}</span><br />
    {% if post.img !=null %}
        <figure>
          <a href="http://stpaulsmalone.org/img/news/{{ post.img }}" data-lightbox="{{ page.date }}" data-title="<a href='http://stpaulsmalone.org/img/news/{{ page.img }}'>{{ page.caption }}</a>">
            <img data-src="http://stpaulsmalone.org/img/news/{{ post.img }}" src="http://stpaulsmalone.org/img/news/{{ post.img }}" class="post-img" alt="{{ post.caption }}">
          </a>
            <figcaption>{{ post.caption }}</figcaption>
        </figure> 
    {% endif %}       
    {{ content }}
  <div class="after-box">
    {% include hfp_needs.html %}
<span id="foodate" class="hidden">{{ page.date | date: "%F" }}</span>
    {% include birthday_list.html %}
  </div>
</div>
  </div>
 
</article>
