---
layout: default
class: page
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="post-content" itemprop="articleBody">
  	<span class="teaser">{{ page.teaser }}</span><br />
    {% if page.img !=null %}
        <figure>
          <a href="/img/news/{{ page.img }}" target="_blank">
            <img src="/img/news/{{ page.img }}" class="post-img" alt="{{ page.caption }}">
          </a>
        </figure> 
        <figcaption>{{ page.caption }}</figcaption>
    {% endif %}       
    {{ content }}
  </div>
 
</article>
